body {
    margin: 0px;
    height: 100%;
}

.main_bg {
    -moz-background-image: url("https://images.unsplash.com/photo-1515343480029-43cdfe6b6aae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=250fd87139bfce9117534e300a5bf25b&auto=format&fit=crop&w=2200&q=80");
    -webkit-background-image: url("https://images.unsplash.com/photo-1515343480029-43cdfe6b6aae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=250fd87139bfce9117534e300a5bf25b&auto=format&fit=crop&w=2200&q=80");
    -o-background-image: url("https://images.unsplash.com/photo-1515343480029-43cdfe6b6aae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=250fd87139bfce9117534e300a5bf25b&auto=format&fit=crop&w=2200&q=80");
    background-image: url("https://images.unsplash.com/photo-1515343480029-43cdfe6b6aae?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=250fd87139bfce9117534e300a5bf25b&auto=format&fit=crop&w=2200&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 810px;
    display: flex;
    justify-content: center;
}

.center_text p {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 190px;
    text-align: center;
}

.btn-danger {
    background-color: burlywood;
    color: white;
    text-transform: uppercase;
    border: 2px solid burlywood;
}

.main_button {
    margin-top: 300px;
    text-align: center;
}